<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uno Game</title>
    <link rel="stylesheet" href="/Stylesheets/game.css" />
    <script src="/scripts/chat.js" defer></script>
    <script src="/scripts/game.js" defer></script>
    <style>
      /* Adjusting sizes for players, cards, and containers */
      .players-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border: 2px solid black;
        background-color: blue;
        width: 100%;
        text-align: center;
        padding: 1rem;
      }

      .opponent-container {
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        text-align: center;
        height: auto;
        width: 15%;
        background-color: red;
        margin: 0.5rem;
      }

      .opponent-container:nth-child(even) {
        background-color: yellow;
      }

      .opponent-container > p.opponent-name {
        font-size: 24px;
        font-weight: bold;
      }

      .opponent-container img {
        height: 80px;
        width: 40px;
      }

      .client-hand {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        height: 20%;
        bottom: 0;
        width: 100%;
        background-color: yellow;
        padding: 1rem;
      }

      .client-hand img.hand-card {
        height: 80px;
        width: 50px;
      }

      .game-area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        position: relative;
        top: -50px; /* Move the game area up to avoid overlap with the yellow box */
      }

      .deck-container img,
      .discard-container img {
        height: 100px;
        width: 70px;
      }
    </style>
  </head>
  <body>
    <h1><%= gameName %></h1>

    <div class="players-container">
      <% playerList.forEach((player) => {
        if (player.id !== parseInt(clientId)) { %>
          <div class="opponent-container" id="opponent-<%= player.id %>">
            <p class="opponent-name"><%= player.name %></p>
            <div class="opponent-container-bottom">
              <img src="/images/cards/uno_back.png" alt="back of uno card" />
              <p class="opponent-hand-size" id="hand-<%= player.id %>">
                <%= player.handSize + "Cards" %>
              </p>
            </div>
          </div>
      <% } }); %>
    </div>

    <!-- Main Game Area -->
    <main>
      <div id="winner-div" class="hidden">
        <h1 id="winner-header"></h1>
        <button id="return-home-button">Return to Lobby</button>
      </div>
      <div id="main-left">
        <div class="deck-and-discard">
          <div class="deck-container">
            <img src="/images/cards/uno_back.png" alt="back of uno card" />
          </div>
          <div class="discard-container">
            <img
              id="discard-card"
              src="<%= '/images/cards/' + discardCard.color + '_' + discardCard.symbol + '.png' %>"
              alt="<%= discardCard.color + ' ' + discardCard.symbol %>"
              card-color="<%= discardCard.color %>"
              card-symbol="<%= discardCard.symbol %>"
            />
          </div>
        </div>
        <div class="game-buttons">
          <% if (String(activePlayerId) === String(clientId)) { %>
            <button id="draw-button" type="submit" name="draw" value="draw">Draw</button>
            <button id="uno-button" type="submit" name="uno" value="uno">Uno</button>
            <button id="play-button" name="play-button">Play</button>
          <% } %>
        </div>
      </div>
      <%- include('partials/chat', { chatMessages: messages, roomId: gameId }) %>
    </main>

    <!-- Client Hand -->
    <div class="client-hand">
      <% clientHand.forEach((card) => { %>
      <img
        class="hand-card"
        cardId="<%= card.id %>"
        id="<%= 'game#' + gameId + '-card#' + card.id %>"
        src="<%= '/images/cards/' + card.color + '_' + card.symbol + '.png' %>"
        alt="<%= card.color + ' ' + card.symbol %>"
        card-color="<%= card.color %>"
        card-symbol="<%= card.symbol %>"
      />
      <% }); %>
    </div>

    <!-- Hidden Fields -->
    <input type="hidden" name="room-id" id="game-id" value="<%= gameId %>" />
    <input type="hidden" name="client-id" id="client-id" value="<%= clientId %>" />
    <input type="hidden" name="active-player-id" id="active-player-id" value="<%= activePlayerId %>" />

    <script type="module" src="/scripts/game.js"></script>
  </body>
</html>