<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/Stylesheets/homepage.css" />
    <script src="/scripts/chat.js" defer></script>
    <script src="/scripts/homepage.js" defer></script>
</head>
  <body>


    <main>
      <h1>Welcome to the Homepage</h1>
      <div class="centered-links">
        <a href="/home"><button>Homepage</button></a>
        <a href="/lobby"><button>Lobby</button></a>
        <a href="/waitingroom"><button>Waiting Room</button></a>
        <a href="/game"><button>Game Page</button></a>
        <% if (typeof loggedIn !== "undefined" && !loggedIn) { %>
        <a href="/signin"><button>Sign In</button></a>
        <a href="/signup"><button>Sign Up</button></a>
        <% } else { %>
        <a href="/logout"><button>Logout</button></a>
        <% } %>
      </div>

      <% if (user) { %>
      <div id="auth-container">
        <div id="left">
          <%- include('partials/lobbyList') %>
          <div id="create-game-button-container">
            <button id="create-game-button">Create a game</button>
          </div>
        </div>
        <div id="middle">
          <%- include('partials/activeGamesList') %>
        </div>
        <div id="right">
          <% if (messages || messages === null) { %>
          <%- include('partials/chat', { chatMessages: messages, roomId: 0 }) %>
          <% } %>
        </div>
      </div>

      <%- include('partials/createGame') %>
      <%- include('partials/protectedGameForm') %>
      <% } %>
    </main>
  </body>
</html>
